// 1. Khai báo biến
$primary-color: yellow;

// 2. tạo mixin reder ra các đoạn code dùng nhiều lần
// @mixin: Tạo mixin
// @include: gọi mixin
@mixin flexbox($align : flex-start, $justify : flex-start, $wrap: wrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
}

@mixin absolute($dir : "left"){
    position: absolute;
    @if $dir == "top" {
        top: 50%;
        transform: translateY(-50%);
    }
    @if $dir == "left" {
        left: 50%;
        transform: translateX(-50%);
    }
}

// 3. Tạo function px to rem
@function toRem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}

// 4. Nested code
.header{
    height: 200px;
    &__logo{
        @include flexbox(center, flex-end, no-wrap);
        @include absolute("top");
    }
}